/*--ACOMODANDO-MARGENES-PADDING--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}
/*--IMAGEN-DE-FONDO--------------*/
body{
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #5f6769;
}
/*--FORMULARIO-------------------*/
.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: #30423b;
    border-radius: 5px;
}
/*--TITULO-----------------------*/
.titulo{
    color: rgb(250, 255, 174);
    margin-bottom: 20px;
}
/*--CAJAS-DE-DATOS---------------*/
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #d9e4ea;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #1a4c7e;
}
/*--TERMINOS-Y-CONDICIONES-------*/
.termino1{
    text-align: center;
    color: rgb(250, 255, 174);
}
.termino2{
    color: rgb(250, 255, 174);
    text-decoration: none;
    font-weight: bold;
}
.termino2:hover{
    color: #dbdbdb;
}
/*--BOTON-DE-REGISTRARSE---------*/
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: rgb(250, 255, 174);
    color: #1b262c;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background: #133043;
}
/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
    text-align: center;
    color: rgb(250, 255, 174);
    font-weight: bold;
    text-decoration: none;
}
.tengo-cuenta:hover{
    color: #dbdbdb;
}
