.titulo {
    text-align: center;
    color: rgb(186, 216, 125);
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.car {
    width: 5vh;
    margin: 20px 10px 10px 4vh;
    border: 1vw;
}

body {
    background-color: #3a6d59 !important;
}

p, ul {
    text-align: center;
    color: rgb(230, 230, 204);
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#margen {
    width: 20vh;
    margin: 20px 10px 10px 4vh;
    border-radius: 20px;
    border: 1vw;
    border-color: rgb(128, 128, 128);
    border-style: groove;
}

h4 {
    font-size: 10vw;
    text-align: right;
    color: rgb(225, 231, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3 {
    font-size: 3vw;
    text-align: center;
    color: rgb(225, 231, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-align: center;
    color: rgb(182, 255, 174) !important;
    font-size: 1.5vw;
}

.carrito {
    text-align: right;
    color: rgb(182, 255, 174) !important;
    font-size: 1vw;
}


.imagenes {
    background-color: #5c542f;
    border-radius: 30px;
    width: 90vw;
    margin: auto;
}

.ll {
    text-align: center;
    background-color: #7ebe54;
    border-radius: 30px;
    width: 36vw;
    margin: auto;
}

#gato, #perro {
    width: 30vw;
    margin: 20px 10px 10px 4vh;
    border-radius: 20px;
    border: 10px;
    border-color: grey;
    border-style: groove;
}

.submenu {
    position: relative;
}

.submenu #carritoo {
    display: none;
}

.submenu:hover #carritoo {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
}

table {
    width: 100%;
}

th, td {
    color: antiquewhite;
}

.btnCarro {
    color: #0d8409;

}

.boton {
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: rgb(5, 89, 41);
    color: #1b262c;
    cursor: pointer;
    transition: all .5s ease;
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}


.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.msgError {
    color: red;
}

