body {
  background-color: #30423b !important;
}

.titulo {
  text-align: center;
  color: rgb(186, 216, 125);
  font-size: 5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.perritos {
  background-color: rgb(124, 114, 88);
  border-radius: 20px;
  width: 100vh;
  margin: auto;
}

.parrafo {
  text-align: justify;
  margin-left: 10vw;
  margin-right: 10vw;
  color: rgb(230, 230, 204);
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: rgb(250, 255, 174) !important;
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#perro {
  width: 40vh;
  margin: 20px 10px 10px 4vh;
  border-radius: 20px;
  border: 10px;
  border-color: grey;
  border-style: groove;
}

/*Modal*/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    color: black;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

#texto {
	color: #000;
}