.titulo {
  text-align: center;
  color: rgb(186, 216, 125);
  font-size: 4vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #30423b !important;
}

p, ul {
  text-align: justify;
  margin-left: 15vw;
  margin-right: 15vw;
  color: rgb(230, 230, 204);
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: rgb(250, 255, 174) !important;
  font-size: 3vw;
}

.imagenes {
  background-color: rgb(124, 114, 88);
  border-radius: 20px;
  width: 80vw;
  margin: auto;
}

#gato, #perro {
  width: 30vw;
  margin: 20px 10px 10px 4vh;
  border-radius: 20px;
  border: 10px;
  border-color: grey;
  border-style: groove;
}