.titulo {
    text-align: center;
    color: rgb(186, 216, 125);
    font-size: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #30423b !important;
}

p, ul {
    text-align: justify;
    margin-left: 10vw;
    margin-right: 10vw;
    color: rgb(230, 230, 204);
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: rgb(250, 255, 174) !important;
    font-size: 2vw;
}

.imagenes {
    background-color: rgb(124, 114, 88);
    border-radius: 20px;
    width: 70vw;
    margin: auto;
}

#gato, #perro {
    width: 25vw;
    margin: 3vw 3vw 2vw 2vw;
    border-radius: 20px;
    border: 1vw;
    border-color: grey;
    border-style: groove;
}